.home-photos {
    background: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=996&t=st=1665567718~exp=1665568318~hmac=d19d5a57d5b34627cc5983b3c8c0eb731eb01d0eabcab6520d837033031c7666');
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;
}