/* .home-photos img {
    height: 250px;
    border-radius: 20px;
}

.home-photos{
    background-image: url('https://www.dropbox.com/s/7imr8d18j0i5qd8/animation-puzzle-elements-moving-towards-camera-pieces-jigsaw-emanate-colorful-glow-193188914.jpg?dl=0');
    height: 300px;
    border-radius: 5px;
} */